#connectionindicator {
    display: none;
    color: red;
}

@font-face {
  font-family: 'joystix';
  src: url('/static/fonts/joystix_monospaceoystix/ot/joystix_monospace.otf');
  src: url('/static/fonts/joystix/tt/joystix_monospace.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* GENERAL */

.joystix {
	font-family: 'joystix';
}

.absolute{
	position: absolute;
}

.inline-block{
	display: inline-block;
}



.margin-center{
	margin-left:auto;
	margin-right: auto;
}


/* SPECIFIC */

html {
  height: 100%;
}
body {
  background-color: #222;
  height: 100%;
}

#factorio{
}

#mmo{
  margin-left: 10px;
	font-size:60%;
}
.main-title{
	color: #E57316;
	font-size: 7em;

	position: relative;
}

#main {
  top:20%;
  position: relative;
}

.shadow{
	z-index: -10;

	display: inline-block;
	color:#80400B;
	position: absolute;
	top:3px;
	margin-left: 3px;
}

.subtitle{
	color: #E57316;

	position: relative;
	/*top:250px;*/
	cursor: default;
	font-size: 1.1em;
}

.transmission {
  padding: 20px 100px;
  margin-top: 30px;
  color: #e7812d;
}

/* Blinking */

@-webkit-keyframes blink {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.blink {
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s;
}
