{% extends "base.html" %}
{% load staticfiles %}



{% block main %}

<script src="{% static "js/Chart.bundle.min.js" %}"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Factorio MMO Infographics</h1>

            <!-- <h3>Users</h3>
            <canvas id="playersChart" width="400" height="400"></canvas> -->

            <h3>Science Consumption</h3>
            <div id="scienceCharts">
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block js_init %}
/* TODO: Remove window.factoriomc = */
// window.factoriomc = FactorioMC.init('/public/');
{% endblock js_init %}

{% block script %}
<!-- <script src="{% static 'js/public/index.js' %}" type="text/javascript"></script> -->
<script src="{% static 'js/public/chart.js' %}" type="text/javascript"></script>
<script src="{% static 'js/lodash.min.js' %}" type="text/javascript"></script>

{% endblock %}
