{% extends "base.html" %} {% load staticfiles %} {% block main %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" >
            <div class="joystix text-center main-title margin-center">
                <span class="shadow"><span id="factorio">Factorio</span><span id="mmo">MMO</span></span>
                <span id="factorio">Factorio</span><span id="mmo">MMO</span>
            </div>

            <div class="transmission">
            </div>
        </div>
    </div>
</div>
</div>

{% endblock main %} {% block js_init %} /* TODO: Remove window.factoriomc = */ // window.factoriomc = FactorioMC.init('/public/'); {% endblock js_init %} {% block script %}
<!-- <script src="{% static 'js/public/index.js' %}" type="text/javascript"></script> -->
<!-- <script src="{% static 'js/public/chart.js' %}" type="text/javascript"></script> -->
<script src="{% static 'js/app/transmission.js' %}" type="text/javascript"></script>
<script src="{% static 'js/lodash.min.js' %}" type="text/javascript"></script>

{% endblock %}
